<section class="w3l-team" id="team">
    <div class="team-block py-5">
        <div class="container py-lg-5">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="sub-title">Ekibimiz</h6>
                <h3 class="hny-title">Çalışanlarımızla Tanışın</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Homish-Starter/assets/images/team1.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Alexander</a></h3>
                            <span class="post">Agent</span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Homish-Starter/assets/images/team2.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Victoria</a></h3>
                            <span class="post">Agent</span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Homish-Starter/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Smith roy</a></h3>
                            <span class="post">Agent</a></span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Homish-Starter/assets/images/team4.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Johnson</a></h3>
                            <span class="post">Agent</a></span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Homish-Starter/assets/images/team5.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Johnson</a></h3>
                            <span class="post">Agent</a></span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Homish-Starter/assets/images/team6.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Johnson</a></h3>
                            <span class="post">Agent</a></span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>