
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Homish a Real Estate Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Homish-Starter/assets/css/style-starter.css">
    <!-- Template CSS -->
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <h1>
                    <a class="navbar-brand mr-lg-5" href="/Default/Index">
                        Hom<span>i</span>sh
                    </a>
                </h1>
                <!-- if logo is image enable this
                <a class="navbar-brand" href="#index.html">
                    <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                </a> -->
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Default/Index">Ana Sayfa <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/About/Index">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Properties/Index">Ev İlanları</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Contact/Index">İletişim</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/AdminAbout/Index">Admin Girişi</a>
                        </li>
                        <div class="search-right">
                            <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">

                                    <form action="#" method="GET" class="search-box">
                                        <input type="search" placeholder="Aranacak kelime..." name="search" required="required" autofocus="">
                                        <button type="submit" class="btn">Ara</button>
                                    </form>

                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </div>
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!-- //header -->
  @RenderBody()
    <!--/w3l-footer-29-main-->
    <footer>
        <!-- footer -->
        <section class="w3l-footer">
            <div class="w3l-footer-16-main py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 column">
                            <div class="row">
                                <div class="col-md-4 column">
                                    <h3>Şirketimiz</h3>
                                    <ul class="footer-gd-16">
                                        <li><a href="index.html">Ana Sayfa</a></li>
                                        <li><a href="about.html">Hakkımızda</a></li>
                                        <li><a href="services.html">Hizmetlerimiz</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="contact.html">İletişim</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 column mt-md-0 mt-4">
                                    <h3>Yararlı Linkler</h3>
                                    <ul class="footer-gd-16">
                                        <li><a href="#url">Tekliflerimiz</a></li>
                                        <li><a href="#url">Satılık Evler</a></li>
                                        <li><a href="#url">Kiralık Evler</a></li>
                                        <li><a href="about.html">Şirketimiz Hakkında</a></li>
                                        <li><a href="#url">Paketlerimiz</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 column mt-md-0 mt-4">
                                    <h3> Hizmetlerimiz</h3>
                                    <ul class="footer-gd-16">
                                        <li><a href="#url">Gizlilik Sözleşmesi</a></li>
                                        <li><a href="#url">Şartlarımız</a></li>
                                        <li><a href="services.html">Hizmetlerimiz</a></li>
                                       
                                        <li><a href="#url">Çalışanlarımız</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
                            <h3>Abone Olun </h3>
                            <div class="end-column">
                                <h4>Son gelişmelerden ilk sizin haberiniz olsun.</h4>
                                <form action="#" class="subscribe" method="post">
                                    <input type="email" name="email" placeholder="Email Adresiniz" required="">
                                    <button type="submit">Abone Ol</button>
                                </form>
                                <p>Emailiniz gizli tutulacaktır. Sadece gelişmelerden haberdar edeceğiz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
                        <div class="columns text-lg-left text-center">
                            <p>
                                &copy; @DateTime.Now.Year Homish. Tüm Hakları Saklıdır. Design by <a href="https://w3layouts.com/" target="_blank">
                                    W3Layouts
                                </a>
                            </p>
                        </div>
                        <div class="columns-2 mt-lg-0 mt-3">
                            <ul class="social">
                                <li>
                                    <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-angle-up"></span>
            </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                  scrollFunction()
                };

                function scrollFunction() {
                  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                  } else {
                    document.getElementById("movetop").style.display = "none";
                  }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                  document.body.scrollTop = 0;
                  document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- //move top -->
            <script>
                $(function () {
                  $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                  })
                });
            </script>
        </section>
        <!-- //footer -->
    </footer>
    <!--//w3l-footer-29-main-->
    <!-- Template JavaScript -->
    <script src="~/Homish-Starter/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Homish-Starter/assets/js/theme-change.js"></script>
    <script src="~/Homish-Starter/assets/js/owl.carousel.js"></script>
    <!-- script for banner slider-->
    <script>
        $(document).ready(function () {
          $('.owl-one').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
              0: {
                items: 1,
                nav: false
              },
              480: {
                items: 1,
                nav: false
              },
              667: {
                items: 1,
                nav: true
              },
              1000: {
                items: 1,
                nav: true
              }
            }
          })
        })
    </script>
    <!-- //script -->
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
          $("#owl-demo1").owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            responsiveClass: true,
            responsive: {
              0: {
                items: 1,
                nav: false
              },
              736: {
                items: 2,
                nav: false
              },
              1000: {
                items:2,
                nav: false,
                loop: true
              }
            }
          })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->
    <!-- video popup -->
    <script src="~/Homish-Starter/assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
          $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
          });

          $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
          });
        });
    </script>
    <!-- //video popup -->
    <!-- stats number counter-->
    <script src="~/Homish-Starter/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Homish-Starter/assets/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats number counter -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
          var scroll = $(window).scrollTop();

          if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
          } else {
            $("#site-header").removeClass("nav-fixed");
          }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
          $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
          if ($(window).width() > 991) {
            $("header").removeClass("active");
          }
          $(window).on("resize", function () {
            if ($(window).width() > 991) {
              $("header").removeClass("active");
            }
          });
        });
    </script>
    <!--//MENU-JS-->

    <script src="~/Homish-Starter/assets/js/bootstrap.min.js"></script>

</body>

</html>